.box {
  text-align: center;
  margin-left: 510px;
  margin-right: 510px;
  padding: 15px;
  background-color: lightsalmon;
  border-radius: 10px;
  border-style: hidden;
  border-color: beige;
}

.p5box {
  text-align: center;
  padding: 30px;

}

.center {
  text-align: center;
}

.cuteBox {
  border-radius: 10px;
  border-color: black;
  border-style: ridge;
  border-width: medium;

}

.comicSans {
  font-family: "Comic Sans MS", sans-serif;
}

body {
  background-image: url('wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
